body {
font-family: Arial, sans-serif;
background-color: #e6f7e6;
margin: 0;
padding: 0;
}

header {
    background-color: #2e7d32;
    color: white;
    text-align: center;
    padding: 1rem;
}
nav {
    background-color: #4caf50;
    padding: 0.5rem;
    text-align: center;
}
nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover: {
    text-decoratoin: underline;
}
main {
    padding: 1rem 2rem;
}
article {
    background-color: white;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 8px;
    box-shadow: 0 2px 5px;
}
rgba(0, 0, 0, 0.1)
h2, h3 {
    color: #2e7d32;
}
footer {
    background-color: #2e7d32;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}